<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.api.mapper.PersonMapper">
  <resultMap id="BaseResultMap" type="com.cn.api.entity.Person">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="PersonId" jdbcType="INTEGER" property="personid" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="Sex" jdbcType="VARCHAR" property="sex" />
    <result column="Phone" jdbcType="VARCHAR" property="phone" />
    <result column="Position" jdbcType="VARCHAR" property="position" />
    <result column="Degree" jdbcType="INTEGER" property="degree" />
  </resultMap>
</mapper>